<fieldset class="verse-picker">
    <legend>
        {{ element['#title'] }}
    </legend>
    {{ element['translation'] }}
    {{ element['book'] }}
    {% if element['book'] is not empty %}
        <div class='verses'>
            {{ element['from_chapter'] }}
            :
            {{ element['from_verse'] }}
            {% if element['#settings']['allow_range'] %}
                –
                {{ element['to_chapter'] }}
                :
                {{ element['to_verse'] }}
            {% endif %}
        </div>
    {% endif %}
</fieldset>
